.accueil{
    display: inline-block;
}
.sec_gauche{
    width: 65%;
}
section{
    margin-bottom: 2%;
}
.cta{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)),url(../Images/photo-login.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 58px 0;
}


.cta2{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)),url(../Images/lycée_gal_2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 58px 0;
}
.cta3{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)),url(../Images/originale.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 58px 0;
}

.cta5{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)),url(../Images/contact.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 58px 0;
}

.titre_accueil{
    color: #fff;
    margin-bottom: 40px;
    padding: 2%;
}

.sec_droite{
    width: 30%;
    border: 2px solid #0073e6;
    border-radius: 8px;
    padding-bottom: 2%;
    float: right;
}
.right h3{
    border-bottom: 2px solid #0073e6;
    margin-bottom: 3%;
    background: #0073e6;
    color: white;
    padding: 2px;
}
.right p{
    line-height: 3rem;

}
.right p a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #7575a3;
    margin-left: 4%;
    transition: .5s;
}
.right p a:hover{
    color: #0059b3;
}
.icons a .fab{
    color: rgba(0, 0, 0, 0.795);
    margin: 0 13px;
    padding: 18px 0;
    font-size: 25px;
    transition: .3s;
}
.video{
  width: 100%;

}
.video video{
  width: 90%;
  margin-left: 5%;
  
}
.sec_droite_resp{
    display: none;
    border: 2px solid #0073e6;
    border-radius: 8px;
}
.height{
    width: 80%;
    height: 2px;
    border: 1px solid #0073e6;
    margin: 4% auto 4% auto;
    display: none;
}
.calculatrice{
    margin: auto;
    width: 80%;
}
.calculatrice input{
    width: 100%;
    padding:7px;
    border:none;
    border:1px solid gray;
    border-radius:6px;
    outline: none;

}
.calculatrice label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
input[type="button"]{
    width:40%;
    height: 35px;
    margin:20px auto;
    border:none;
    background-color: #3385ff;
    color:white;
    font-size: 22px;
    cursor: pointer;
    transition: .2s;
}
input[type="button"]:hover{
    background-color: #00bfff;
}
input[type="reset"]{
    width:40%;
    padding: 2% 4% 2% 4%;
    height: 35px;
    margin:20px auto;
    border:none;
    background-color: #5c8a8a;
    color:white;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}
input[type="reset"]:hover{
    background-color: #ff4d4d;
}
#operators{
    width: 100%;
    padding:7px;
    border:none;
    margin: auto;
    border:1px solid gray;
    border-radius:6px;
    outline: none;
}
@media (max-width: 991px){
    .right p a{
        font-size: 16px;
    }
    input[type="reset"]{
    width:50%;
}
}
@media (max-width:700px){
    .titre_accueil{
        font-size: 20px;
    }
    .accueil{
        display: block;
    }
    .right .calc{
        display: none;
    }
    .sec_gauche{
    width: 80%;
    margin: auto;
}
    .sec_droite{
        display: none;
    /*width: 80%;
    float: left;
    margin: auto;*/
}
.sec_droite_resp{
    display: block;
    width: 80%;
    margin: auto;
}
.height{
        display: block;
    }
}
@media (max-width: 430px){
    .icons a .fab{
    color: rgba(0, 0, 0, 0.795);
    margin: 0 13px;
    padding: 18px 0;
    font-size: 20px;
    transition: .3s;
}
}